@using Santa.Models
@model Warehouse

@{
    ViewBag.Title = "Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 class="pull-left">Warehouse</h2>
    @Html.ActionLink("Refresh", "Refresh", "Warehouse", htmlAttributes: new { @class = "btn btn-default pull-right", style = "margin: 20px 0 10px 0;" })
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Price</th>
    </tr>

@foreach (var item in Model.EntityList) {
    <tr>
        <td>@item.Name</td>
        <td>@item.Amount</td>
        <td>@item.Price</td>
    </tr>
}

</table>
